nav {
    font-size: .75em;
}

.title {
    font-size: 3em;
}

.blogpost {
    padding: 20px;
}

#post-1 {
    padding-left: 10px;
    padding-right: 10px;
}

#post-2 {
    padding-left: 10px;
    padding-right: 10px;
}