* {
    background-color: #ADD8E6;
}

nav {
    font-size: .75em;
    text-align: center;
}

.title {
    font-size: 3em;
}

.blogpost {
    padding-top: 15px;
    padding-bottom: 15px;
}

#post-1, #post-2 {
    padding-left: 10px;
    padding-right: 10px;
}
