* {
    background-color: #ADD8E6;
    font-family:Arial, Helvetica, sans-serif;
}

nav {
    
    font-size: 1em;
    text-align: center;
}

header {
    position: sticky;
}

.title {
    font-size: 3em;
    text-align: center;
}

.blogpost {
    padding-top: 10px;
    padding-bottom: 10px;
}

#post-1, #post-2 {
    padding-left: 20px;
    padding-right: 20px;
}

.blogpost-header {
    font-size: 1.5em;
}

.author {
    font-size: 1em;
}

h2 {
    font-size: 1.2em;
}

.stonewall {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    column-gap: 50px;
    width: 60%;
}

caption {
    font-size: 1.1em;
    text-decoration-line: underline;
}

#signup {
    padding: 30px;
    text-align: center;
    line-height: 200%;
}

.about-me {
    padding: 10px;
}

.games {
    margin-left: auto;
}

#contact-us {
    text-align: center;
    line-height: 200%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    padding-left: 20px;
    padding-right: 20px;
}

a[href="index.html"] {
    color:deeppink;
}